# Set default behavior to automatically normalize line endings
* text=auto

# Java files
*.java text diff=java
*.properties text
*.xml text
*.yml text
*.md text
*.sql text

# Shell scripts
*.sh text eol=lf
mvnw text eol=lf

# Windows specific files
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.jar binary
*.war binary
*.zip binary
*.tar binary
*.tar.gz binary
*.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary 